<header class="masthead">
  <div class="text-center">
    <h1 class="">Wanna Know？</h1>
    <h3 class="">
      ユーザーの疑問解決を目的としたアンケートサービス
    </h3>
  </div>
</header>

<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Services</h3>
      <h2 class="mb-5">Wanna Know？ではこんなことが可能です</h2>
    </div>
    <div class="row">

      <div class="col-md-4 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-pencil-square-o icon-1" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>口コミを投稿する</strong>
        </h4>
        <p class="text-faded text-left mb-0">レストランの口コミを投稿することができます。口コミは投稿したユーザーにのみ、編集・削除が可能です。</p>
      </div>

      <div class="col-md-4 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-check icon-2" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>口コミを見る</strong>
        </h4>
        <p class="text-faded text-left mb-0">キーワードの検索はもちろん、登録タグやレストランからの逆引きで、過去に投稿された口コミを表示することができます。</p>
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fa fa-comments-o icon-2" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>ユーザー同士で共有</strong>
        </h4>
        <p class="text-faded text-left mb-0">投稿された口コミにはいいね！やコメントをすることができ、それらは投稿ユーザーに通知されます。</p>
      </div>

    </div>
  </div>
</section>
