<% if user_signed_in? %>
  <% if current_user.already_liked?(post) %>
    <p>
      <%= button_to post_likes_path(post), method: :delete, class:"btn btn-warning bmd-btn-fab", remote: true do %>
        <i class="material-icons">grade</i>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= button_to post_likes_path(post), method: :post, class:"btn btn-secondary bmd-btn-fab", remote: true do %>
        <i class="material-icons">grade</i>
      <% end %>
    </p>
  <% end %>
  <p><span>お気に入り数:</span><%= post.likes.count %></p>
<% end %>
