<li id="user-<%= user.id %>">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-text">
        <% if user.avatar? %>
          <%= image_tag user.avatar.thumb.url, :size => '120x120', class: "user_icon" %>
        <% else %>
          <%= image_tag "/assets/default.png", :size => '120x120', class: "user_icon" %>
        <% end %>
        <span><%= link_to user.name, user %></span>
      </h5>
    </div>
  </div>
</li>
