<div class="col-md-6">
  <div class="card pt-3 mb-3">
    <div class="card-title">
      <%= render 'profile', object: user %>
      <%= render 'follow_form', user: user %>
      <% if current_user?(user) %>
        <%= link_to "マイページ", user_path(current_user), class:'btn btn-dark btn-raised btn-block' %>
      <% end %>
    </div>
  </div>
</div>
