<div class="col-md-6">
  <div class="card align-items-center">
    <% if user.avatar? %>
      <%= link_to image_tag(user.avatar.thumb.url, class: "rounded-circle"), user %>
    <% end %>
    <%= link_to user.name, user %>
    <%= render 'follow_form', user: user %>
  </div>
</div>
