<% provide(:title, '全てのユーザー') %>
<% breadcrumb :users %>
<div class="md-page">
  <%= breadcrumbs pretext: "現在地:", separator: " &rsaquo; " %>
  <ul class="user-list jscroll">
    <%= render @users %>
    <%= paginate @users %>
  </ul>
</div>
