<% if @messages.present? %>
  <% @messages.each do |m| %>
    <strong><%= m.content %></strong>
    <a href="/users/<%= m.user_id %>">
      <%= m.user.name %>さん
    </a>
  <% end %>
<% else %>
  <p class="text-center">メッセージはまだありません</p>
<% end %>
