<div class="mt-3">
  <li class="list-group border border-primary">
    <div class="list-group-item">
      <i class="material-icons icon-right">person</i>
      <%= message.user.name %>
      <span class="label label-default label-pill">
        <span><%= message.content %></span>
      </span>
    </div>
  </li>
  <p class="text-right"><%= time_ago_in_words(message.created_at).upcase %>前</p>
</div>
