<% if @messages.present? %>
  <% @messages.each do |m| %>
    <li>
      <%= m.content %>
      <%= link_to m.user.name, m.user %>さん
    </li>
  <% end %>
<% else %>
  <p class="text-center">メッセージはまだありません</p>
<% end %>
