<div class="nested-fields">
  <div class="form-group">
    <%= f.label :title, class:"bmd-label-static" %>
    <%= f.text_field :title, class: 'form-control', required: true %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= link_to_remove_association "削除", f, class: "btn btn-raised btn-danger" %>
  </div>
</div>
