<li id="post-<%= post.id %>">
  <p>タイトル：<%= link_to post.title, post %></p>
  <span class="timestamp">
    <% if current_user == post.user %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</li>
