<div class="mb-3 mt-3">
  <button class="btn bmd-btn-icon" for="search" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">
    <i class="material-icons">search</i>
  </button>
</div>
<span id="collapse-search" class="collapse">
    <%= search_form_for q, url: url do |f| %>
    <div class="input-group mb-3">
      <%= f.search_field :title_or_tags_name_cont, class: "form-control", type:"text", id:"search" %>
      <div class="input-group-append">
        <%= f.submit '検索する', class: "btn btn-info btn-raised" %>
      </div>
    </div>
  <% end %>
</span>
