<% provide(:title, '全ての投稿') %>
<div class="md-page">
  <ul class="post-list jscroll">
    <% @posts.each do |post| %>
      <%= image_tag post.image.url if post.image? %>
    <% end %>
    <%= paginate @posts %>
  </ul>
</div>
