<% provide(:title, '全ての投稿') %>
<% breadcrumb :root %>
<div class="md-page">
  <%= render 'search_form', url: posts_path, q: @q %>
  <ul class="post-list jscroll">
    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      <h1><%= '検索結果がありません。' %></h1>
    <% end %>
    <%= paginate @posts %>
  </ul>
</div>
