<% provide(:title, '投稿詳細') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/posts">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Post</li>
  </ol>
</nav>
<%= render "option" %>
