/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "toastr";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import "tagsinput";

// 無限スクロール

li {
  list-style: none;
}

nav.pagination {
  display: none;
}

ul.user-list, .post-list, .notification-list {
  padding: 0;
}

// 新規投稿ボタン

.new-post-btn {
  font-size: 120px;
  position: fixed;
  bottom: 10px;
  right: 8%;
  padding: 30px 50px;
  color:rgb(2, 73, 89) !important;
}

// Drawer

body, html {
  height: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color:rgb(244, 242, 236) !important;
}

main {
  padding-top:50px;
}


.flex-grow {
  flex: 1 0 auto;
}

.bmd-layout-canvas {
flex-grow: 1;
}

// アイコン

.favorite-icon {
  color: rgb(139, 202, 217) ;
  font-size:30px;
}

.delete-icon {
  color:rgb(214, 188, 109);
  font-size:30px;
}

.impression-icon {
  color:rgb(130, 159, 217);
  font-size:30px;
}

.comment-icon {
  color:rgb(82, 168, 116);
  font-size:30px;
}

// コンテナ

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  .new-page {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }
}

// タグ

.tags {
  font-size: 15px;
}

//　ドーナツグラフ

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 180px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: rgb(100, 129, 129);
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: rgb(72, 87, 87);
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 10px auto 0;
}

// ランディングページ
.home {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-image:  linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),image-url("top1.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home h1 {
  font-size: 4rem;
}

@media (min-width: 992px) {
  .home {
    height: 100vh;
  }
  .home h1 {
    font-size: 5.5rem;
  }
}

.top-icon {
  font-size:7rem;
}

// navbar

.logo {
  color: rgb(244, 242, 236);
}

.navbar-toggler {
  background-color: white;
}

// ボタン、ヘッダーカラー

.btn-primary, .bg-primary {
  background:rgb(45, 108, 115) !important;
}

.btn-secondary {
  background:rgb(153, 179, 179) !important;
}

.btn-info {
  background:rgb(72, 87, 87) !important;
}

.btn-success {
  background:rgb(110, 193, 193) !important;
}

// パンくずリスト

.breadcrumb {
  background-color: rgb(244, 242, 236);
  margin-top:1.5rem;
}

// 順位

.ranking {
  font-size:2.5rem;
  color: gray
}
