/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "toastr";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import "tagsinput";

// 無限スクロール

li {
  list-style: none;
}

nav.pagination {
  display: none;
}

ul.user-list {
  padding: 0;
}

ul.post-list {
  padding: 0;
}

// 新規投稿ボタン

.new-post-btn {
  font-size: 100px;
  position: fixed;
  bottom: 10px;
  right: 8%;
  padding: 15px 0px;
}

// Drawer

body, html {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  padding-top: 80px;
  background-color: white;
}


.flex-grow {
  flex: 1 0 auto;
}

.bmd-layout-canvas {
flex-grow: 1;
}

// アイコン

.favorite {
  color: #FF5F17;
}

.delete {
  color: red;
}

// コンテナ

.new_post_page {
  @extend .container-fluid;
  max-width: 768px;
  padding: 2rem;
  background-color: white;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

// タグ

.tags {
  font-size: 15px;
}

//　ドーナツグラフ


@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #81CE97;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #81CE97;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 10px auto 0;
}
