/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "toastr";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

// 無限スクロール

li {
  list-style: none;
}

nav.pagination {
  display: none;
}

ul.user-list {
  padding: 0;
}

ul.post-list {
  padding: 0;
}

.new-post-btn {
  font-size: 100px;
  position: fixed;
  bottom: 10px;
  right: 8%;
  padding: 15px 0px;
}

body {
  padding: 100px 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFFAFA	;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
.favorite {
  color: #FF5F17;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: -20px;
  left: 47.4%;
}

.breadcrumb {
  background-color: #FFFAFA	;
}
